@font-face {
  font-family: 'Museo Sans Cyrillic 900';
  src: url('../fonts/MuseoSansCyrillic-900.eot');
  src: url('../fonts/MuseoSansCyrillic-900.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrillic-900.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrillic-900.woff') format('woff'),
      url('../fonts/MuseoSansCyrillic-900.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrillic-900.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 700';
  src: url('../fonts/MuseoSansCyrillic-700.eot');
  src: url('../fonts/MuseoSansCyrillic-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrillic-700.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrillic-700.woff') format('woff'),
      url('../fonts/MuseoSansCyrillic-700.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrillic-700.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 500';
  src: url('../fonts/MuseoSansCyrillic-500.eot');
  src: url('../fonts/MuseoSansCyrillic-500.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrillic-500.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrillic-500.woff') format('woff'),
      url('../fonts/MuseoSansCyrillic-500.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrillic-500.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 300';
  src: url('../fonts/MuseoSansCyrillic-300.eot');
  src: url('../fonts/MuseoSansCyrillic-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrillic-300.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrillic-300.woff') format('woff'),
      url('../fonts/MuseoSansCyrillic-300.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrillic-300.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic 100';
  src: url('../fonts/MuseoSansCyrillic-100.eot');
  src: url('../fonts/MuseoSansCyrillic-100.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrillic-100.woff2') format('woff2'),
      url('../fonts/MuseoSansCyrillic-100.woff') format('woff'),
      url('../fonts/MuseoSansCyrillic-100.ttf') format('truetype'),
      url('../fonts/MuseoSansCyrillic-100.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}