/* normalize */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Body typography */
body {
  -webkit-font-smoothing: antialiased;
}
/* Links */
a {
  text-decoration: none;
  color: #d2a473;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  outline: 0;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}
.more-link {
  display: block;
  margin: 12px 0 0px;
  position: relative;
  line-height: 18px;
  font-size: 18px;
}
/* Lead text */
.lead {
  font-size: 20px;
  line-height: 30px;
}
/*FONTS*/
.MSC-100 {
  font-family: 'Museo Sans Cyrillic 100';
}
.MSC-300 {
  font-family: 'Museo Sans Cyrillic 300';
}
.MSC-500 {
  font-family: 'Museo Sans Cyrillic 500';
}
.MSC-700 {
  font-family: 'Museo Sans Cyrillic 700';
}
.MSC-900 {
  font-family: 'Museo Sans Cyrillic 900';
}

/**************************
       site customize
**************************/
/* убрать выделение */
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
  resize: none;
  -webkit-text-size-adjust: none;
}
  /* оставить выделение для полей ввода */
  input, textarea {
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    resize: none;
  }

/* основные цвета */
.white, .white * {
  color: white !important;
}
.wheat, .wheat * {
  color: #c29769 !important;
}

/**************************************
              ГЛАВНАЯ
***************************************/
body {
  background-image: url(../images/backgorund920.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  font-family: 'Museo Sans Cyrillic 300';
}
/***** header *****/
header {
  width: 100%;
  height: 109px;
  background-color: rgba(0,0,0,0.35);
}
header > .container-fluid {
  max-width: 1138px;
  margin: 0 auto;
}
/*logo*/
.sq__logo {
  width: 178px;
  height: auto;
}
/*info*/
.sq__phone {
  font-size: 22px;
}
.sq__phone-icon {
  display: none;
  width: 31px;
  height: 31px;
  background-image: url(../images/call.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  vertical-align: bottom;
}
.sq__map {
  font-size: 12.5px;
}
.sq__inst {
  width: 31px;
  height: 31px;
  background-image: url(../images/inst.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 40px;
}

/***** main *****/
main { 
  width: 100%;
  max-width: 1138px;
  margin: 0 auto;
  height: auto;
  min-height: calc(100vh - 171px);
  overflow: hidden;
  display: block; 
  position: relative; 
  padding-top: 40px; 
}
main img {
  margin-bottom: 8px;
}
/*info*/
.sq__lead {
  font-size: 79px;
  line-height: 87px;
}
.sq__sale-1 {
  font-size: 30px;
}
.sq__sale-2 {
  font-size: 23px;
}

/***** footer *****/
footer {
  width: 100%;
  height: 62px;
  background-color: rgba(0,0,0,0.35);
}
footer > .container-fluid {
  max-width: 1138px;
  margin: 0 auto;
}

/**************************************
              MEDIA
***************************************/
@media (max-width: 770px) {
  body {
    background-image: url(../images/backgorund768.png);
    background-size: cover;
  }
}
@media (max-width: 576px) {
  header {
    height: 96px;
  }
  /*logo*/
  .sq__logo {
    width: 135px;
    height: auto;
  }
  /*info*/
  .sq__inst {
    background-image: url(../images/inst-2.png);
  }
  .sq__phone {
    displaY: none;
  }
  .sq__phone-icon {
    display: inline-block;
  }
  .sq__map {
    display: none;
  }

  body {
    background-image: url(../images/backgorund320.png);
    background-size: cover;
  }
  main {
    min-height: calc(100vh - 216px);
    padding-top: 40px;
  }
  /*info*/
  .sq__lead {
    font-size: 37px;
    line-height: 41px;
  }
  .sq__sale-1 {
    font-size: 24px;
  }

  footer {
    height: 120px;
  }
}