/* normalize */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Body typography */
body {
  -webkit-font-smoothing: antialiased;
}
/* Links */
a {
  text-decoration: none;
  color: #d2a473;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  outline: 0;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}
.more-link {
  display: block;
  margin: 12px 0 0px;
  position: relative;
  line-height: 18px;
  font-size: 18px;
}
/* Lead text */
.lead {
  font-size: 20px;
  line-height: 30px;
}
/*FONTS*/
.MSC-100 {
  font-family: 'Museo Sans Cyrillic 100';
}
.MSC-300 {
  font-family: 'Museo Sans Cyrillic 300';
}
.MSC-500 {
  font-family: 'Museo Sans Cyrillic 500';
}
.MSC-700 {
  font-family: 'Museo Sans Cyrillic 700';
}
.MSC-900 {
  font-family: 'Museo Sans Cyrillic 900';
}

/**************************
       site customize
**************************/
/* убрать выделение */
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  outline: none;
  resize: none;
  -webkit-text-size-adjust: none;
}
  /* оставить выделение для полей ввода */
  input, textarea {
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    resize: none;
  }

/* основные цвета */
.white, .white * {
  color: white !important;
}
.wheat, .wheat * {
  color: #c29769 !important;
}

/**************************************
              ГЛАВНАЯ
***************************************/
body {
  background-image: url(../images/backgorund920.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  font-family: 'Museo Sans Cyrillic 300';
  background-attachment: fixed;
}
/***** header *****/
header {
  width: 100%;
  height: 109px;
  background-color: rgba(0,0,0,0.35);
}
header > .container-fluid {
  max-width: 1138px;
  margin: 0 auto;
}
/*logo*/
.sq__logo {
  width: 178px;
  height: auto;
}
/*info*/
.sq__phone {
  font-size: 22px;
}
.sq__phone-icon {
  display: none;
  width: 31px;
  height: 31px;
  background-image: url(../images/call.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  vertical-align: bottom;
}
.sq__map {
  font-size: 12.5px;
}
.sq__inst {
  width: 31px;
  height: 31px;
  background-image: url(../images/inst.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 40px;
}

/***** main *****/
main { 
  width: 100%;
  max-width: 1138px;
  margin: 0 auto;
  height: auto;
  min-height: calc(100vh - 171px);
  overflow: hidden;
  display: block; 
  position: relative; 
  padding-top: 40px; 
}
main img {
  margin-bottom: 8px;
}
/*info*/
.sq__lead {
  font-size: 72px;
  line-height: 87px;
  word-break: break-all;
}
.sq__sale-1 {
  font-size: 30px;
}
.sq__sale-2 {
  font-size: 23px;
}
/*form*/
.sq__form {
  border-width: 20px;
  border-color: rgba(228, 173, 106, .7);
  border-style: solid;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 0px 6px 19.53px 1.47px rgba(10, 9, 9, 0.57);
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.sq__form input {
  margin-bottom: 30px;
  transition: all .15s ease-in-out;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12.5px;
  padding: 20px;
}
.sq__form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c29769;
  opacity: 1; /* Firefox */
}

.sq__form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c29769;
}

.sq__form input::-ms-input-placeholder { /* Microsoft Edge */
  color: #c29769;
}
.sq__form__title {
  font-size: 33px;
  text-align: center;
  line-height: 33px;
  margin: 30px 0;
  display: block;
  text-shadow: 3px 3px 9px black;
}
.sq__form__send {
  font-size: 37px;
  box-shadow: 0px 0px 20px 4px rgba(239, 181, 112, 0.4);
  display: block;
  text-align: center;
  border: 1px solid #d2a473;
  border-radius: 5px;
  margin-bottom: 30px;
  background: rgb(226,226,226);
  background: -moz-linear-gradient(top, transparent 0%, rgba(227,172,106,.5) 100%);
  background: -webkit-linear-gradient(top, transparent 0%,rgba(227,172,106,.5) 100%);
  background: linear-gradient(to bottom, transparent 0%,rgba(227,172,106,.5) 100%);
}
.sq__form__politika {
  font-size: 12.5px;
}
/*amocrm*/
iframe.amoforms_iframe {
  position: relative !important;
  min-height: 650px !important;
  height: 100% !important;
}

/***** footer *****/
footer {
  width: 100%;
  height: 62px;
  background-color: rgba(0,0,0,0.35);
}
footer > .container-fluid {
  max-width: 1138px;
  margin: 0 auto;
}

/**************************************
              MEDIA
***************************************/
@media (max-width: 770px) {
  body {
    background-image: url(../images/backgorund768.png);
    background-size: 150%;
  }
  .sq__offer,
  .sq__lead {
    text-align: center;
    width: 100%;
    display: block;
  }
}
@media (max-width: 576px) {
  
  header {
    height: 96px;
  }
  /*logo*/
  .sq__logo {
    width: 135px;
    height: auto;
  }
  /*info*/
  .sq__inst {
    background-image: url(../images/inst-2.png);
    background-size: auto;
  }
  .sq__phone {
    displaY: none;
  }
  .sq__phone-icon {
    display: inline-block;
  }
  .sq__map {
    display: none;
  }

  body {
    background-image: url(../images/backgorund320.png);
    background-size: cover;
  }
  main {
    min-height: calc(100vh - 216px);
    padding-top: 40px;
  }
  /*info*/
  .sq__lead {
    font-size: 37px;
    line-height: 41px;
  }
  .sq__sale-1 {
    font-size: 24px;
  }
  /*form*/
  .sq__form__title {
    font-size: 35px;
  }
  .sq__form__send {
    font-size: 24px;
  }
  .sq__form__politika {
    font-size: 12px;
  }

  footer {
    height: 120px;
  }
}